.blackiconcolor {
  color:black;
}

.infoBox {
  width: inherit;
  border-radius: 5px;
  color: grey;
  background-color: white;
}

.odd {
  padding-top: 20px;
  border-radius: 5px;
  background-color: #6662;
}

.bb {
  background-color: #0005;
}

h2 {
  padding-top: 10px;
}

mark {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  --text-transform: uppercase;
}

label {
  padding-top: 5px;
}

.label-danger {
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.label-buyer {
  background-color: rgba(0, 100, 255, 0.8);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.label-seller {
  background-color: rgba(1, 154, 214, 0.8);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.label-settled {
  background-color: rgba(28, 119, 0, 0.8);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
